header {
    background: #046dfc;
    padding: 20px 0;
}

.caja {
    width: 80%;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 118px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #cd4f39;
    text-decoration: underline;
}

.productos {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: #cd4f39; <- se usó para visualizar modificaciones */
    margin: 0 1.5%;
    /*padding: 30px 20px;*/
    padding: 5% 2%;
    box-sizing: border-box;
    /*border-width: 2px;   <- estas 3 propiedades se
    border-style: solid;   <- pueden reemplazar con la
    border-color: #cd4f39; <- propiedad de abajo */
    border: 2px solid #cd4f39;
    border-radius: 10px;
}

.productos li:hover {
    border-color: #046dfc;
}

.productos li:active {
    border-color: #088C19;
}

.productos h2 {
    font-size: 26px;
    font-weight: bold;
}

.productos li:hover h2 {
    font-size: 32px;
}

.prod_descripcion {
    font-size: 18px;
}

.prod_precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(./imagenes/bg.jpg);
    padding: 40px;
}

.copyright {
    color: #6f6f6f;
    font-size: 14px;
}

main {
    width: 80%;
    margin: 0 auto;
}

form {
    margin: 50px 0%;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #f1f1f1;
    background: #046dfc;
    border: none;
    border-radius: 5px;
    /*transition: 0.3s background;*/
    transition: 0.3s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: #cd4f39;
    transform: scale(1.2) rotate(4deg);
}

table {
    margin: 40px 40px;
}

thead {
    background: #046dfc;
    color: #f1f1f1;
    font-weight: bold;
}

td, th {
    border: 1px solid #046dfc;
    padding: 8px 15px;
}

/* Usados para observar Jerarquía en CSS
form p {
    color: blue;
}

p {
    color: red;
}

.test {
    color: yellow;
}

p.test {
    color: magenta;
}

#test {
    color: cyan;
} */

/* la configuración de stilo inline sobrescribe todo */

