header {
    background: #046dfc;
    padding: 20px 0;
}

.caja {
    width: 80%;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 118px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
